header {
    background-color: #bbb;
    padding: 20px 0;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto; 

}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;   
    margin: 0 0 0 15px; 
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    position: sticky;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.4s ease-in-out;
   
}

main{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px;
}

form label, form legend {
    display: block;
    font-size: 15px;
    margin: 0 0 10px;
}

.input-padron {
    display: block;
    font-size: 10px;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;

}

.checkbox {
margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 10px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: orange;
    border: none;
    border-radius: 5px;
    transition: 2s all;
    cursor: pointer;
}

.enviar:hover {
    background: darkorange;
    transform: scale(1.2);
}

table {
    margin: 40px 40px;
}

thead{
    background: #555555;
    color: white;
    font-weight:200;
}

td, th{
    border: 1px solid #000000;
    padding: 8px 15px;
}


footer{
    text-align: center;
    background-image: url(img/bg.jpg);
    padding: 30px;
}

.copyright {
    color: #ffffff;
    font-size: 13px;
    margin: 10px; 
}



/* Para animar en css con transform, 
actua con la propiedad transition colocando 
duracion en segundos y all que significa para todo 
el transform se coloca cuando se llama 
la clase con el hover, el transition se coloca 
cuando se llama solo la clase  */